-var path = '../';
-var head_url = 'https://robots.mycapitalland.ru/2/';
-var head_title = 'Узнайте, как зарабатывать на криптовалютной бирже в авторежиме с доходностью от 5% в месяц!';
-var head_description = 'Онлайн-лекция “Алгоритмический трейдинг – инновационная стратегия торговли на криптовалютной бирже”';
//-var head_img = 'img/banner.jpg';
-var styles = path+'css/styles-2.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var fav_ap = path+'favicon.svg';
-var scripts = path+'js/scripts-1.js';
//- -var noref = true
-var action = 'https://mycapital.autoweboffice.ru/?r=personal/newsletter/sub/add&id=28323&lg=ru&Contact[id_newsletter]=';
-var group = '33';
-var formId = '25';
-var formVc = '3333132131';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
//- -var ak = true
-var headerLight = true;
-var href = '#Modal';
-var form_target = '_blank';
-var politics = 'politics.pdf';

mixin gt(cl,h3)
	h3.general-title(class=cl)
		span=h3
mixin b(cl,clb,href,p,target,id)
	.button-wrapper(class=cl)
		a.button(class=clb href=href target=target id=id)=p
mixin imgs(cl, src, alt)
	img(class=cl src=path+src alt=alt)

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/main-2/1-main
			include pug/main-2/2-form
			include pug/main-2/3-video
			include pug/main-2/4-about
			include pug/main-2/5-know
			include pug/main-2/6-decision
			include pug/main-2/7-club
			include pug/main-2/8-author
			include pug/main-2/9-last
		include pug/main-2/10-modal
		include pug/base/3-scripts
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts